:root{
    --prmario:#46A5C9;   
    --gris:#4f4f4f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.mg-top{
    margin-top: 35px;
}
.mg-a{
    margin: 25px;
}
.aling-center{
    text-align: center;
    margin: auto;
}
/*---Header---*/
.navbar{
    background-color: white !important;
    box-shadow: 3px 1px 9px #e9e9e9;
    position: sticky;
    top: 0;
}
.menu-header{
    margin: 0px 35px;
}
.nav-link.active{
    color: var(--prmario) !important;
    font-weight: 700;
    text-decoration: underline var(--prmario);
}
.active{
    text-decoration: underline var(--prmario) !important;
}
.nav-item{
    font-size: 18px;
    color: white;
}
/*-----Container------*/
.banner-principal{
    border-radius: 30px;
    margin-top: 25px;
    height: 590px;
}
.img-detalle{
    border-radius: 30px;
    margin-top: 25px;
}
h1{
    color: var(--gris);
}
h2{
    font-size: 55px;
    font-weight: 800;
    margin: auto;
}
/*----Cataloho-Home---*/
.titulo-catalogo{
    color: var(--gris);
    font-size: 22px;
    margin-top: 32px;
}
.fondo{
    background-color: var(--prmario);
    color: white;
    border-radius: 20px;
    height: fit-content;
    margin: 55px 0px !important;
}
.btn-cotizar{
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border-color: none !important;
}
.btn-cotizar a{
    color: var(--prmario);
    font-weight: 600;
    font-size: 18px;
}
.btn-cotizar:hover{
    background-color: #4f4f4f;
}
.btn-cotizar:hover a{
    color: white;
}
.contenido-tex{
    margin-top: 30px;
}
.contenido-tex h2{
   color: var(--gris);
   margin-bottom: 25px;
}
.btn-pedido{
    background-color: var(--prmario);
    width: 300px;
    border-radius: 30px;
    border-color: none !important;
    box-shadow: none !important;
}
.btn-pedido:hover{
    background-color: var(--gris);
    width: 300px;
    border-radius: 30px;
    border-color: none !important;
    box-shadow: none !important;
}
.btn-pedido a{
    color: white;
    font-size: 22px;
    text-align: center;
}
.pasos-ico{
        margin-top: 35px;
        font-size: 30px;
        color: var(--prmario);
        text-align: center;
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-bottom: 20px;
}
.al-btn{
    text-align: center;
}
.ver-mas{
    text-decoration: underline !important;
    font-weight: 700;
    margin-top: 13px;
    color: var(--prmario);
}
.ver-mas:hover{
    text-decoration: underline !important;
    color: var(--prmario);
    font-size: 18px;
    max-width: 105px;transition: all 0.3s ease;
}
.vm-text{
    text-align: center;
}
/*-----Footer-----*/
footer{
    background-color: var(--prmario);
    margin-top: 35px;
    color: white;
    text-align: center;
    display: flex;
    height: 90px;
    align-items: center;
}
.datos{
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 600;
}


/*--MQ--*/

@media (max-width: 768px) { 
    
    .btn-cotizar{
        margin-bottom: 20px;
    }
    h2{
        font-size: 32px;
    }
    
 };

@media (min-width: 1200px) { 
    .btn-cotizar{
        margin-bottom: 0px;
    } 
}